.main{
    width: 100vw;
    height: 100vh;
    background-color: #2660d6;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}


.form{
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}


input{
    width: fit-content;
}

.btn{
    background-color: red;
}